name: Pytests

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  tests:
    strategy:
      matrix:
        simulator: [isaacgym, isaacsim]
    name: Run ${{ matrix.simulator }} Tests
    runs-on: codebuild-holosoma-gpu-build-${{ github.run_id }}-${{ github.run_attempt }}
    container:
      image: 982423663241.dkr.ecr.us-west-2.amazonaws.com/holosoma:latest
      options: "--gpus all --runtime=nvidia --shm-size=12g"
      volumes:
        - "precommit-cache:/github/home/.cache/pre-commit"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Pytest
        id: pytest
        shell: bash
        run: |
          ln -s /root/.holosoma_deps "$HOME/.holosoma_deps"
          if [[ ! -L /workspace/holosoma ]]; then
            rm -rf /workspace/holosoma
            ln -sfF "$GITHUB_WORKSPACE" /workspace/holosoma
          fi
          bash tests/ci/${{ matrix.simulator }}_ci_tests.sh

  inference-tests:
    name: Run Inference Unit Tests
    runs-on: codebuild-holosoma-cpu-build-${{ github.run_id }}-${{ github.run_attempt }}
    container:
      # TODO: Switch to holosoma-inference:latest once it's available in ECR
      # image: 982423663241.dkr.ecr.us-west-2.amazonaws.com/holosoma-inference:latest
      # Until then, the inference tests will run in isaacsim env.
      image: 982423663241.dkr.ecr.us-west-2.amazonaws.com/holosoma:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run Tests
        shell: bash
        run: |
          ln -s /root/.holosoma_deps "$HOME/.holosoma_deps"
          if [[ ! -L /workspace/holosoma ]]; then
            rm -rf /workspace/holosoma
            ln -sfF "$GITHUB_WORKSPACE" /workspace/holosoma
          fi
          source scripts/source_isaacsim_setup.sh
          pip install -e src/holosoma_inference
          pytest -s src/holosoma_inference/
